/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  text-decoration: underline;
  color: inherit;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  background: #F2E9C2;
  color: #3E6B8B;
  font-variant-ligatures: discretionary-ligatures;
}

.cover-container {
  max-width: 25em;
}

/*
 * Header
 */
#logo {
  margin-bottom: 30px;
}

#logo-text {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

.masthead {
  margin-bottom: 1.5rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Main
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

#producer {
  margin-top: 20px;
}

main {
  line-height: 2.0rem;
}

#divider {
  margin: 10px 0 10px 0;
}

/*
 * Footer
 */
#instagram {
  transform: scale(0.5);
}

.mastfoot {
  font-size: 0.7rem;
}
